.frontpage {
  min-height: 100vh;
  background: rgba(8, 8, 8);
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  overflow-y: hidden; /* Prevent vertical scrollbar */
}

/* Main content area */
.frontpage-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0 0 0;
}

/* Interactive menu section */
.interactive-menu-section {
  
  margin: 80px 0px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 325px;
}

/* Gear animation styles */
.gear-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nodes-placeholder img {
  width: 116px;
  height: 248px;
  position: relative;
  left: 49px;
  top: -2px;
}

.gear-placeholder img {
  width: 200px;
  height: 200px;
  animation: rotateVariable 15s ease-in-out infinite;
}

/* Keyframes for rotation animation */
@keyframes rotateVariable {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
  10% {
    transform: rotate(-360deg);
    animation-timing-function: ease-in-out;
  }
  20% {
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
  30% {
    transform: rotate(360deg);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: rotate(720deg);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: rotate(180deg);
    animation-timing-function: ease-in-out;
  }
  70% {
    transform: rotate(270deg);
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(270deg);
    animation-timing-function: ease-in-out;
  }
  90% {
    transform: rotate(270deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -60px;
  position: relative;
  z-index: 2;
}

.title h1 {
  font-family: 'Graphik';
  font-size: 48px;
  font-weight: 600;
  color: #71926b;
  letter-spacing: 2px;
  background: rgba(8, 8, 8, 0.9) 0%;
  backdrop-filter: blur(100px);
  display: flex;
  align-items: center;
}


/* ===== RESPONSIVE BREAKPOINTS ===== */

/* Ultra-wide screens - 1920px and above */
@media (min-width: 1920px) {
  .frontpage-main {
    padding: 60px 0 0 0;
  }
  
  .interactive-menu-section {
    margin: 120px 0px;
    min-height: 400px;
  }
  
  .gear-placeholder img {
    width: 350px;
    height: 350px;
  }
  
  .nodes-placeholder img {
    width: 207px;
    height: 433px;
    left: 87px;
    top: -4.5px;
  }
  
  .title {
    margin-left: -80px;
  }
  
  .title h1 {
    font-size: 80px;
    letter-spacing: 4px;
  }
  
}

/* Large screens - 1400px to 1919px */
@media (min-width: 1400px) and (max-width: 1919px) {
  .frontpage-main {
    padding: 50px 0 0 0;
  }
  
  .interactive-menu-section {
    margin: 100px 0px;
    min-height: 375px;
  }
  
  .gear-placeholder img {
    width: 300px;
    height: 300px;
  }
  
  .nodes-placeholder img {
    width: 173px;
    height: 371px;
    left: 74px;
    top: -3.5px;
  }
  
  .title {
    margin-left: -70px;
  }
  
  .title h1 {
    font-size: 72px;
    letter-spacing: 3px;
  }
  
}

/* Medium-large screens - 1200px to 1399px */
@media (min-width: 1200px) and (max-width: 1399px) {
  .frontpage-main {
    padding: 45px 0 0 0;
  }
  
  .interactive-menu-section {
    margin: 90px 0px;
    min-height: 350px;
  }
  
  .gear-placeholder img {
    width: 250px;
    height: 250px;
  }
  
  .nodes-placeholder img {
    width: 144px;
    height: 308px;
    left: 61px;
    top: -3px;
  }
  
  .title {
    margin-left: -65px;
  }
  
  .title h1 {
    font-size: 64px;
    letter-spacing: 3px;
  }
  
}

/* Medium screens - 900px to 1199px */
@media (min-width: 900px) and (max-width: 1199px) {
  .frontpage-main {
    padding: 35px 0 0 0;
  }
  
  .interactive-menu-section {
    margin: 70px 0px;
    min-height: 320px;
  }
  
  .gear-placeholder img {
    width: 180px;
    height: 180px;
  }
  
  .nodes-placeholder img {
    width: 103px;
    height: 224px;
    left: 44px;
    top: -0.5px;
  }
  
  .title {
    margin-left: -50px;
  }
  
  .title h1 {
    font-size: 52px;
    letter-spacing: 2px;
  }
  
}

/* Small screens - 769px to 899px */
@media (min-width: 769px) and (max-width: 899px) {
  .frontpage-main {
    padding: 30px 0 0 0;
  }
  
  .interactive-menu-section {
    margin: 60px 0px;
    min-height: 300px;
  }
  
  .gear-placeholder img {
    width: 160px;
    height: 160px;
  }
  
  .nodes-placeholder img {
    width: 95px;
    height: 197px;
    left: 40px;
    top: 0px;
  }
  
  .title {
    margin-left: -45px;
  }
  
  .title h1 {
    font-size: 42px;
    letter-spacing: 2px;
  }
  
}

/* Mobile screens - 481px to 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .frontpage-main {
    padding: 20px 0 0 0;
    margin-bottom: 20px;
  }
  
  .interactive-menu-section {
    margin: 50px 0px;
    min-height: 280px;
  }

  .gear-placeholder img {
    width: 150px;
    height: 150px;
  }

  .nodes-placeholder img {
    width: 87px;
    height: 185px;
    position: relative;
    left: 37px;
    top: -0.5px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    position: relative;
    z-index: 2;
  }

  .title h1 {
    font-size: 34px;
    font-weight: 800;
    color: #71926b;
    letter-spacing: 2px;
    backdrop-filter: blur(100px);
    display: flex;
    align-items: center;
    height: 60px;
  }
  
}

/* Small mobile screens - 320px to 480px */
@media (min-width: 320px) and (max-width: 480px) {
  .frontpage-main {
    padding: 15px 0 0 0;
    margin-bottom: 15px;
  }
  
  .interactive-menu-section {
    margin: 40px 0px;
    min-height: 250px;
  }

  .gear-placeholder img {
    width: 120px;
    height: 120px;
  }

  .nodes-placeholder img {
    width: 71px;
    height: 148px;
    position: relative;
    left: 30px;
    top: 0px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    position: relative;
    z-index: 2;
  }
  
  .title h1 {
    font-size: 28px;
    letter-spacing: 1px;
  }
  
}

/* Extra small screens - below 320px */
@media (max-width: 319px) {
  .frontpage-main {
    padding: 10px 0 0 0;
    margin-bottom: 10px;
  }
  
  .interactive-menu-section {
    margin: 30px 0px;
    min-height: 200px;
  }

  .gear-placeholder img {
    width: 100px;
    height: 100px;
  }

  .nodes-placeholder img {
    width: 60px;
    height: 120px;
    left: 25px;
    top: 0px;
  }

  .title {
    margin-left: -25px;
  }
  
  .title h1 {
    font-size: 24px;
    letter-spacing: 1px;
  }
  
}